<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<Database>
			<add key="ConnectString" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\Program Files\Checkbook\live-checkbookapp.mdb" />
			<add key="DB" value="C:\Program Files\Checkbook\live-checkbookapp.mdb" />
			<add key="TestModeConnectString" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=C:\beau\CheckbookData\dev-checkbookapp.mdb" />
			<add key="TestModeDB" value="C:\beau\CheckbookData\dev-checkbookapp.mdb" />
			<add key="TestMode" value="1" />
		</Database>
		<Data>
			<add key="StartFolder" value="C:\Documents and Settings\jacksobe\Desktop" />
		</Data>
		<TransactionTypes>
			<add key="DebitTypes" value="ATM|Archive|Check|Debit Card|E-Pay|Fee|Withdrawl|Transfer Out|Other Debit|Correction Debit|Cash Advance Payment" />
			<add key="CreditTypes" value="Deposit|Transfer In|Other Credit|Correction Credit|Cash Advance" />
		</TransactionTypes>
		<ReconcileTypes>
			<add key="fee" value="Fee" />
			<add key="directdebit" value="Debit Card" />
			<add key="debit" value="Debit Card" />
			<add key="pos" value="Debit Card" />
			<add key="check" value="Check" />
			<add key="atm" value="ATM" />
			<add key="directdep" value="Deposit" />
			<add key="credit" value="Deposit" />
			<add key="payment" value="E-pay" />
		</ReconcileTypes>
	</appSettings>
</configuration>